# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.CaiusAdventures_beta0.iml
# Datasource local storage ignored files
/../../../../../../:\GamesDev\CaiusAdventures_beta0\.idea\.idea.CaiusAdventures_beta0\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
